@media screen and (max-width: 600px) {
  /* NAVIGATION BAR */
  #navbar {
    width: 100%;
    height: 100px;
    position: fixed;
    display: block;
    background-color: whitesmoke;
    z-index: 5;
    -webkit-box-shadow: inset 0px 10px 39px -20px rgba(0, 0, 0, 0.72);
    box-shadow: inset 0px 10px 39px -20px rgba(0, 0, 0, 0.72);
    overflow: hidden;
  }
  #navbar:hover {
    -webkit-box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.48);
    box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.48);
  }
  #inno-supp {
    width: 100%;
    height: 40px;
    color: white;
    background-color: #05215a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    font-family: chemical;
  }
  #brand-logo {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }
  #brand-logo-a {
    display: flex;
    flex-direction: row;
  }
  #brand-logo-img {
    width: 60px;
    height: 60px;
    background-color: transparent;
  }
  #brand-logo-txt {
    width: 140px;
    height: 60px;
  }
  #navbar-main {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  #nav-elements {
    display: none;
  }
  #menu {
    width: 30px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  #menu-icon {
    width: 30px;
    height: 30px;
  }
  #nav-end {
    width: 120px;
    height: 60px;
    padding-left: 30px;
  }
  #menu-toggle {
    width: 100%;
    height: 300px;
    display: none;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: space-evenly;
    line-height: 25px;
    z-index: 4;
    margin-top: 100px;
    font-family: montserrat;
    color: white;
    background-color: #05215a;
  }

  /* CAROUSEL */

  #carousel {
    width: 100%;
    height: 500px;
  }
  .main-carousel {
    width: 100%;
    height: 100%;
  }
  .carousel-cell {
    width: 100%;
    height: 100%;
  }
  .carousel-cell img {
    width: 100%;
    height: 500px;
  }
  #overlay,
  #overlay1,
  #overlay2 {
    width: 100%;
    height: 400px;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  #overlay-text,
  #overlay-text-2,
  #overlay-text-5 {
    width: 100%;
    height: 100px;
    font-size: 25px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #overlay-text-2 {
    padding-left: 20px;
  }
  #overlay-text-1,
  #overlay-text-3,
  #overlay-text-6 {
    width: 320px;
    height: 60px;
    font-size: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #overlay-button,
  #overlay-button-1,
  #overlay-button-2 {
    width: 120px;
    height: 40px;
    background-color: rgb(4, 63, 126);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 0;
  }
  #overlay-button-img {
    width: 15px;
    height: 15px;
  }
  /* WAVE ANIMATION */
  #wrap {
    width: 100%;
    height: 150px;
  }
  #wave {
    margin-left: -2000px;
    margin-top: 21px;
  }
  #wave2 {
    display: none;
  }
  /* COMPANY TEXT */
  #company-text {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #text-comp {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #text-comp p {
    margin-top: 40px;
  }
  #img-comp {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #factory-img {
    width: 350px;
    height: 350px;
    margin: 0;
  }
  /* WHO WE ARE */
  #who-we-r {
    width: 100%;
    height: 900px;
    background-image: none;
  }
  #who-we-r-img {
    width: 100%;
    height: auto;
    z-index: 1;
    margin-top: 80px;
    background-color: #001b4f;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #who-we-r-header {
    width: 100%;
    font-size: 50px;
    font-family: acme;
    color: white;
    text-align: center;
  }
  #who-we-r-footer {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  /* RECENT EVENTS */
  #rcnt-evnt {
    width: 100%;
    height: auto;
    background-color: #05215a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  #rcnt-evnt-txt {
    font-size: 45px;
    font-family: acme;
    display: flex;
    align-items: center;
  }
  #rcnt-evnt-cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: static;
    margin-top: 50px;
    gap: 30px;
  }

  #card-1 {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #092968;
    border-radius: 20px;
    box-shadow: inset 0px 0px 27px 3px rgba(10, 87, 219, 0.523);
    font-family: acme;
  }
  #card-1-h5 {
    margin: 20px;
  }
  #card-1-p {
    margin: 20px;
    font-family: montserrat;
  }
  #card-1-btn {
    width: 150px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgb(6, 43, 116);
    box-shadow: inset 0px 0px 27px 3px #001332;
  }
  #card-2 {
    width: 400px;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #092968;
    border-radius: 20px;
    box-shadow: inset 0px 0px 27px 3px rgba(10, 87, 219, 0.523);
    font-family: acme;
  }
  #card-2-img {
    width: 400px;
    height: 250px;
    border-radius: 20px;
  }
  #card-2-h5 {
    margin: 20px;
  }
  #card-2-p {
    margin-left: 20px;
    font-family: montserrat;
  }
  #card-2-btn {
    width: 150px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgb(6, 43, 116);
    box-shadow: inset 0px 0px 27px 3px #001332;
  }
  #card-3 {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #092968;
    border-radius: 20px;
    box-shadow: inset 0px 0px 27px 3px rgba(10, 87, 219, 0.523);
    font-family: acme;
  }
  #card-3-img {
    width: 400px;
    height: 250px;
    border-radius: 20px;
  }
  #card-3-h5 {
    margin: 20px;
  }
  #card-3-p {
    margin-left: 20px;
    font-family: montserrat;
  }
  #card-3-btn {
    width: 150px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgb(6, 43, 116);
    box-shadow: inset 0px 0px 27px 3px #001332;
  }
  /* CLIENT TESTIMONIALS */
  #client-test {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #06276a;
  }
  #client-test-text {
    font-size: 45px;
    color: white;
    font-family: acme;
    margin-top: 50px;
  }
  .carousel-1 {
    width: 400px;
    height: 300px;
  }
  #carousel-cell-1-para,
  #carousel-cell-2-para,
  #carousel-cell-3-para {
    width: 365px;
  }
  /* MAJOR CUSTOMERS */
  .major-customer {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  #major-customer-text {
    width: 400px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
  }
  .cust-carousel {
    width: 400px;
    height: 150px;
    margin-top: 50px;
    border-radius: 20px;
  }
  #company-name-1,
  #company-name-2,
  #company-name-3,
  #company-name-4,
  #company-name-5,
  #company-name-6,
  #company-name-7,
  #company-name-8 {
    width: 200px;
    height: 100%;
    background-color: rgb(193, 217, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
  #company-name-4 img {
    width: 200px;
  }
  #company-name-8 img {
    width: 180px;
  }
  /* FOOTER */
  #footer {
    width: 100%;
    height: 670px;
    background-color: rgba(145, 187, 255, 0.875);
    display: flex;
    flex-direction: column;
  }
  #footer-1 {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #footer-mb {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #footer-title-mb {
    font-family: acme;
    font-weight: 800;
    font-size: 20px;
    margin-top: 12px;
  }
  #footer-text-mb {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: montserrat;
    line-height: 25px;
    justify-content: center;
  }
  #footer-title3-mb {
    font-family: acme;
    font-weight: 800;
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
  }
  #footer-text3-mb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: montserrat;
    line-height: 25px;
  }
  #footer-2 {
    display: none;
  }
  #footer-3 {
    display: none;
  }
  #footer-4 {
    width: 100%;
  }
  /* COPYRIGHT */
  #copyright {
    width: 100%;
    height: 50px;
  }
}
@media screen and (max-width: 375px) {
  #inno-supp {
    font-size: 15px;
  }
  #col-1,
  #col-2,
  #col-3 {
    width: 355px;
  }
  #card-1,
  #card-2,
  #card-3 {
    width: 355px;
  }
  #card-2 img,
  #card-3 img {
    width: 355px;
  }
  .carousel-1 {
    width: 360px;
  }
  #carousel-cell-1,
  #carousel-cell-2,
  #carousel-cell-3 {
    width: 360px;
  }
  #carousel-cell-1-para,
  #carousel-cell-2-para,
  #carousel-cell-3-para {
    width: 360px;
  }
  .cust-carousel {
    width: 360px;
  }
  .major-customer {
    width: 360px;
  }
  #major-customer-text {
    width: 360px;
  }
  #major-customer-h5 {
    width: 360px;
  }
  #company-name-1,
  #company-name-2,
  #company-name-3,
  #company-name-4,
  #company-name-5,
  #company-name-6,
  #company-name-7,
  #company-name-8 {
    width: 180px;
  }
  #company-name-4 img {
    width: 180px;
  }
  #company-name-6 img {
    width: 180px;
  }
  #company-name-1 img {
    width: 180px;
  }
  #company-name-3 img {
    width: 170px;
  }
  #rcnt-evnt-txt {
    text-align: center;
  }
}
